@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./mixins.scss";
html {
 font-size: 10px;
 // this to prepare for using REM;
}
.btn-damage-chooser {
 border-radius: 100%;
 border: none;
 background: transparent;
 border: 1px solid #00468c;
 height: 8rem;
 width: 8rem;
 cursor: pointer;
 padding: 0;
 margin: 0.2rem;
 margin-top: 2rem;
 object-fit: cover;
 overflow: hidden;
 @include transition(all, 0.3s, ease);
 img {
  object-fit: cover;
  height: 8.1rem;
  width: 8.1rem;
 }
 &:focus {
  outline: none;
 }
 &:active {
  @include transform(scale(0.9));
 }
}
.product-3d-config-tabs {
 .ant-tabs-content-holder {
  height: 65.5rem;
 }
 .ant-tabs-content {
  height: 65.5rem !important;
  form {
   height: 100%;
  }
 }
 .ant-tabs {
  border-top: 1px solid #e0e0e0;
 }
 .top-header {
  padding: 3rem;
  .title {
   color: #00468c;
   text-transform: uppercase;
   font-family: "Poppins", sans-serif;
   font-size: 2rem;
  }
  .product-name {
   color: #000000;
   text-transform: uppercase;
   font-family: "Poppins", sans-serif;
   font-size: 3rem;
   font-weight: bold;
  }
 }
 .ant-tabs-tab {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  height: unset !important;
  width: 100% !important;
  @include transition(all, 0.2s, ease);
  color: #7c7c7c !important;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 0 !important;
  &::before {
   @include transition(all, 0.5s, ease);
   content: "";
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 0;
   background: #00468c;
   z-index: -1;
  }
  svg {
   path {
    @include transition(all, 0.2s, ease);
    fill: #7c7c7c;
   }
  }
  &:hover {
   color: #ffffff !important;
   border-color: transparent !important;
   &::before {
    width: 100%;
   }
   svg {
    path {
     fill: #ffffff;
    }
   }
  }
 }
 .ant-tabs-tab-btn {
  width: 100% !important;
  outline: unset !important;
  height: 100% !important;
 }
 //ant overide :
 .ant-tabs-tab-active {
  background: transparent;
  &::before {
   width: 100%;
  }
  border-color: #00468c !important;
  color: #ffffff !important;
  .custom-tab {
   color: #ffffff !important;
   svg {
    path {
     fill: #ffffff;
    }
   }
  }
 }
 .ant-tabs-ink-bar {
  display: none !important;
 }

 .ant-tabs-tabpane {
  padding: 1rem;
  padding-top: 2rem;
  padding-right: 2rem;
 }
 //form

 .textarea-custom {
  border: 1px solid #cecece;
  width: 100%;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
 }
}
.custom-select-tabs {
 padding: 0 !important;
 margin: 0 !important;
}
.custom-select {
 margin: 0 !important;
 padding: 0;
}
.select-input-input {
 margin: 0 !important;
 padding: 0 !important;
}

.canvas-container,
.canvas-container-back {
 width: 100%;
 height: 100%;
}
#lazer-canvas {
 cursor: none !important;
}

#lazer-canvas-back {
 cursor: none !important;
}

.custom-brush-cursor,
.custom-brush-cursor-back {
 top: -500px;
 left: -500px;
 @include transform(translate(-50%, -50%));
 pointer-events: none;
 display: block;
 @include border-radius(100%);
 border-radius: 100%;
 position: fixed;
 width: 44px;
 height: 44px;
 border: 1px solid #919191;
}

.container-configurator {
 width: 100%;
 position: relative;
 .configurator {
  padding: 2rem;

  position: absolute;
  z-index: 9;
  left: 50%;
  top: 15%;
  @include transform(translateX(-50%));
  width: 15rem;
  height: 46rem;
  background: white;
  border: 1px solid #809ec2;
  border-radius: 20rem;
 }
}
input,
textarea {
 &:focus {
  outline: none;
 }
}

.my-own-design-configurator {
 margin-top: 10vh;
 position: relative;
 @include flexbox();
 @include flex-direction(row);
 @include justify-content(center);
 width: 100%;

 .my-own-config-col {
  flex: 0.5;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
 }
 .m-o-jean-img-container {
  display: block;
  position: relative;
  max-width: 241px;
  max-height: 500px;
  img {
   -drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   position: relative;
   object-fit: contain;
   width: 100%;
   max-width: 241px;
   max-height: 500px;
   height: 100%;
  }

  .circle-btn-shooser {
   &.active {
    border: 1px solid white;
   }
   position: absolute;
   width: 41px;
   height: 41px;
   border-radius: 100%;
   border: none;
   cursor: pointer;
   @include transition(all, 0.2s, ease);
   @include flexbox();
   @include justify-content(center);
   @include align-items(center);
   background: #ff872a;
   &:focus {
    outline: none;
   }
   svg {
    width: 14px;
    path {
     fill: white;
    }
   }

   &.orange-btn-c {
    left: 30%;
    top: 20%;
   }
   &.green-btn-c {
    background: #06c170;
    right: 10%;
    top: 35%;
   }
   &.silver-btn-c {
    background: #7a9ec5;
    right: 30%;
    top: 15%;
   }
  }
 }
 .m-o-customizer-picker-container {
  padding: 1rem;
  position: absolute;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  min-width: 100px;
  border: 1px solid #7a9ec5;
  border-radius: 60px;

  .filled-btn-picker-m-o {
   @include flexbox();
   @include justify-content(center);
   @include align-items(center);
   border-radius: 100%;
   border: none;
   background: #00468c;
   border: 1px solid #00468c;
   height: 7rem;
   width: 7rem;
   cursor: pointer;
   padding: 0;
   margin: 0.2rem;
   object-fit: cover;
   overflow: hidden;
   @include transition(all, 0.3s, ease);
   svg {
    object-fit: cover;
    width: 30%;
    path {
     fill: white;
    }
   }
   &:focus {
    outline: none;
   }
   &:active {
    @include transform(scale(0.9));
   }
  }
  .btn-with-dot-indicator {
   position: relative;
  }
  .btn-damage-chooser-mo {
   position: relative;
   border-radius: 100%;
   border: none;
   background: transparent;
   border: 1px solid #00468c;
   height: 7rem;
   width: 7rem;
   cursor: pointer;
   padding: 0;
   margin: 0.2rem;
   margin-bottom: 0.6rem;
   margin-top: 0.6rem;
   object-fit: cover;
   overflow: hidden;
   @include transition(all, 0.3s, ease);
   img {
    object-fit: cover;
    height: 7.1rem;
    width: 7.1rem;
   }
   &:focus {
    outline: none;
   }
   &:active {
    @include transform(scale(0.9));
   }
  }
 }
}
